.ant-menu-dark[data-v-1] {
    background-color: #333333;
}

.prod-title {
    position: fixed;
    top: 0;
    width: 170px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #3a3a3a;
    color: #f1f1f1;
    -webkit-app-region: drag;
}

.prod-icon {
    width: 30px;
    margin-right: 10px;
}

.scroll-bar > div:nth-of-type(3) {
    right: 0 !important;
}