.full-wrapper {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
}

.scroll-wrapper {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateZ(0);
}

.type-wrapper {
    width: 100%;
    padding: 5px 20px 0 20px;
    padding-bottom: 10px;
}

.type-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding: 10px 10px 0 10px;
    font-size: 15px;
    &-active:after {
        transition: all 0.5s linear;
        content: '';
        position: absolute;
        top: 35px;
        left: 50%;
        transform: translate(-50%);
        width: 30px;
        height: 3px;
        background-color: #ff5c49;
        border-radius: 2px;
    }
}
