.header-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-input {
    min-width: 300px;
    max-width: 450px;
    margin-left: 100px;
}

.header-input input {
    background-color: #696666;
    border-color: #696666;
    -webkit-app-region: no-drag;
}
.operation-btn {
    -webkit-app-region: no-drag;
}
.operation-btn span {
    padding: 0 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 30px;
    color: #c9c8c8;
    font-size: 15px;
}

.operation-btn span:hover {
    color: #f1f1f1;
}

.app-btn {
    -webkit-app-region: no-drag;
}

.app-btn span {
    cursor: pointer;
    transition: all .3s ease-in-out;
    width: 30px;
    color: #cccccc;
    display: inline-block;
    font-size: 20px;
    margin: 0 5px;
}