.content-wrapper {
    width: 100%;
    height: calc(100vh - 50px);
    overflow: hidden;
}

.play-drawer {
  -webkit-app-region: no-drag;
}

.fade-exit {
  opacity: 0;
  transform: scale(1.1);
}

.fade-exit-active {
  opacity: 1;
  transform: scale(1);
}

.fade-enter-active,
.fade-exit-active {
  transition: all 300ms ease-out;
}
