.developing {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: #fff;
  span {
    margin-top: 10px;
    font-size: 15px;
  }
  img {
    width: 60px;
  }
}