.setting-wrapper {
    padding: 20px;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.setting-title {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.setting-content {
    padding-left: 20px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.origins {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    span:nth-of-type(2) {
        width: 100%;
    }
    border-bottom: 1px solid rgba(142, 142, 142, 0.2);
}

.origin-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #ff5c49;
    }
}

.origin-btn {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
        color: #ff5c49;
    }
}
