.prod-title {
    position: fixed;
    top: 0;
    width: 170px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    -webkit-app-region: drag;
}

.prod-icon {
    width: 30px;
    margin-right: 10px;
}
