* {
    font-family: tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1", "sans-serif" !important;
    user-select: none;
}

.ant-layout-sider-children {
    margin-top: 50px;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    overflow-y: auto;
}

.ant-layout-header {
    padding: 0 10px;
    background-color: #4a4a4a;
    height: 50px;
    line-height: 50px;
}

.ant-layout-sider-dark {
    background-color: #333333;
}

.ant-menu-dark {
    background-color: #333333 !important;
}

.ant-spin-nested-loading > div > .ant-spin {
    max-height: unset;
}

.ant-tabs-tab-btn {
    color: #ffffff;
}

.ant-tabs-tab-btn:focus, .ant-tabs-tab-remove:focus, .ant-tabs-tab-btn:active, .ant-tabs-tab-remove:active {
    color: #ff5c49;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ff5c49;
}

.ant-tabs-ink-bar {
    background: #ff5c49;
}

.ant-menu-item-selected {
    background: #ff5c49 !important;
}

.ant-btn-primary {
    background: #ff5c49;
    border-color: #ff5c49;
}

.ant-btn-primary:hover {
    background: #ff5c49;
    border-color: #ff5c49;
}

.ant-btn-primary:focus {
    background: #ff5c49;
    border-color: #ff5c49;
}

.ant-input {
    color: #fff;
}

.ant-input:hover {
    border-color: #ff5c49!important;
}
.ant-input:focus {
    border-color: #ff5c49!important;
}

.ant-spin {
    color: #403f3f;
    transition: unset !important;
}

.ant-spin-blur {
    opacity: 0.1 !important;
}
.ant-spin-container {
    transition: unset;
}
.ant-spin-container::after {
    transition: unset !important;
}