* {
    font-family: tahoma, 'microsoft yahei', '\5FAE\8F6F\96C5\9ED1', 'sans-serif' !important;
    user-select: none;
    --antd-wave-shadow-color: #ff5c49;
}

/*滚动条整体宽度*/
::-webkit-scrollbar {
    width: 7px;
}
/*滚动条滑槽样式*/
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(9, 9, 9, 0.71);*/
    /*border-radius: 1px;*/
}
/*滚动条样式*/
::-webkit-scrollbar-thumb {
    /*border-radius: 2px;*/
    background: rgba(111, 111, 111, 0.78);

    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
::-webkit-scrollbar-thumb:hover {
    /*background: #ccc;*/
}
::-webkit-scrollbar-thumb:active {
    /*background: #999;*/
}
/*浏览器失焦的样式*/
::-webkit-scrollbar-thumb:window-inactive {
    /*background: #ffffff;*/
}

.ant-layout-sider-children {
    margin-top: 50px;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.ant-layout-header {
    padding: 0 10px;
    background-color: #4a4a4a;
    height: 50px;
    line-height: 50px;
}

.ant-layout-sider-dark {
    background-color: #333333;
}

.ant-menu-dark {
    background-color: #333333 !important;
}

.ant-spin-nested-loading > div > .ant-spin {
    max-height: unset;
}

.ant-tabs-tab + .ant-tabs-tab {
    margin: 0 0 0 15px;
}

.ant-tabs-tab-btn {
    color: #ffffff;
    font-size: 13px;
}

.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
    color: #ff5c49;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ff5c49;
}

.ant-tabs-ink-bar {
    background: #ff5c49;
}

.ant-menu-item-selected {
    color: #fff !important;
    background: #ff5c49 !important;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
    color: #fff !important;
}
.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
    border-right: unset;
}

.ant-btn-primary {
    background: #ff5c49;
    border-color: #ff5c49;
}

.ant-btn-primary:hover {
    background: #ff5c49;
    border-color: #ff5c49;
}

.ant-btn-primary:focus {
    background: #ff5c49;
    border-color: #ff5c49;
}

.ant-input {
    color: #fff;
}

.ant-input:hover {
    border-color: #ff5c49 !important;
}
.ant-input:focus {
    border-color: #ff5c49 !important;
}

.ant-spin {
    color: #403f3f;
    transition: unset !important;
}

.ant-spin-blur {
    opacity: 0.1 !important;
}
.ant-spin-container {
    transition: unset;
}
.ant-spin-container::after {
    transition: unset !important;
}

.ant-tabs {
    color: #fff;
}

.ant-tabs-tab {
    padding: 0 0 5px 0;
}

.ant-tabs-nav {
    margin: 0 0 10px 0 !important;
}

.ant-tabs-nav::before {
    border-bottom: unset !important;
}

.ant-message-notice-content {
    background: #484848;
    color: #f39856;
}

.ant-radio-wrapper {
    color: #f1f1f1;
}

.ant-radio-inner::after {
    background-color: #ff5c49;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #ff5c49;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus + .ant-radio-inner {
    border-color: #ff5c49;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
    margin-left: unset;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #ff5c49;
    border-color: #ff5c49;
}

.ant-checkbox-checked::after {
    border: 1px solid #ff5c49;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #ff5c49;
}

.ant-input-group-addon {
    background-color: #ff5c49;
    color: #f1f1f1;
    border: 1px solid #ff5c49;
}

.ant-input {
    background-color: #696666;
    border-color: #696666;
}

.ant-btn {
    background-color: #ff5c49;
    color: #f1f1f1;
    border: 1px solid #ff5c49;
}

.ant-btn:hover,
.ant-btn:focus {
    background-color: #ff5c49;
    color: #f1f1f1;
    border: 1px solid #ff5c49;
}

.ant-tabs-content-holder {
    height: 100%;
    overflow-y: auto;
}
