.play-full-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #282c34;
    z-index: 1;
    color: #f1f1f1;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    -webkit-app-region: drag;
    & > span {
        &:nth-of-type(1) {
            user-select: none;
            cursor: pointer;
            display: inline-block;
            height: 100%;
            background-color: #434c4e;
            padding: 0 14px;
            -webkit-app-region: no-drag;
        }
        &:nth-of-type(3) {
            -webkit-app-region: no-drag;
            & > span {
                padding: 0 5px;
                cursor: pointer;
                transition: all .5s ease-in-out;
                color: #ccc;
                &:hover {
                    color: #a0a0a0;
                }
            }
        }
    }
}

.play-full-wrapper {
    position: fixed;
    padding-top: 30px;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: #403f3f;
    display: flex;
    overflow: hidden;
}

.player-wrapper {
    width: calc(100vw - 340px);
    height: 100%;
}
.video-info-wrapper {
    min-width: 340px;
    width: 340px;
    max-width: 340px;
    color: #fff;
    overflow-y: auto;
}
.video-info-title {
    font-size: 14px;
}

.video-frame {
    border: 0;
    width: 100%;
    height: 100%;
    background-color: #232323;
}

.video-info {
    padding: 15px;
}

.series-tag {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    width: 95px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 1px 4px;
    display: inline-block;
    background-color: #8080809e;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: all .2s linear;
    &:hover {
        color: #e05f2d;
    }
}

.series-tag-active {
    background-color: #e05f2d;
    &:hover
    {
        color: #fff;
    }
}