.play-page-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.play-full-header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    -webkit-app-region: drag;
    & > span {
        &:nth-of-type(1) {
            user-select: none;
            cursor: pointer;
            display: inline-block;
            height: 100%;
            padding: 0 14px;
            -webkit-app-region: no-drag;
        }
        &:nth-of-type(3) {
            -webkit-app-region: no-drag;
            & > span {
                padding: 0 5px;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                &:nth-of-type(3) {
                    margin-right: 5px;
                }
            }
        }
    }
}

.play-full-wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 30px);
    left: 0;
    top: 0;
    display: flex;
    overflow: hidden;
}

.player-wrapper {
    width: calc(100vw - 350px);
    height: 100%;
    border: unset !important;
}
.video-info-wrapper {
    min-width: 350px;
    width: 350px;
    max-width: 350px;
    padding: 15px 0 15px 15px;
    height: 100%;
}
.video-info-title {
    font-size: 14px;
}

.sourceTab {
    height: 100%;
}

.tabContent {
    height: 100%;
    overflow-y: auto;
}

.video-frame {
    border: 0;
    width: 100%;
    height: 100%;
}

.series-tag {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    width: 95px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 1px 4px;
    display: inline-block;
    background-color: rgba(128, 128, 128, 0.4);
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
        color: #e05f2d;
    }
}

.series-tag-active {
    background-color: #e05f2d;
    &:hover {
        color: #fff;
    }
}

.detail-header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 15px;
    .detail-image {
        max-width: 150px;
        min-width: 150px;
        max-height: 220px;
        min-height: 220px;
        margin-right: 10px;
        object-fit: cover;
    }
    .detail-text-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        .detail-title {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            max-height: 44px;
            width: 140px;
        }
        .detail-content {
            word-wrap: break-word;
            width: 140px;
            font-size: 12px;
            margin: 5px 0;
        }
    }
}

.detailNoteWrapper {
    padding-right: 15px;
}

.detail-note-first {
    margin: 10px 0 0 0;
    padding: 10px 15px 0 15px;
    background-color: #d8cfcf29;
}
.detail-note-second {
    margin-bottom: 10px;
    padding: 10px 15px;
    background-color: #d8cfcf29;
}

.detail-desc-title {
    margin-bottom: 5px;
}

.detail-desc {
    font-size: 12px;
    line-height: 1.6;
    p,
    span {
        background-color: unset !important;
    }
}

.resource-collect {
    cursor: pointer;
    margin-left: 15px;
    color: #ff5c49 !important;
    -webkit-app-region: no-drag;
}
.resource-not-collect {
    margin-left: 15px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}
