.card-wrapper {
    padding: 10px 20px 20px 20px;
}

.iptv-card {
    display: inline-block;
    margin: 5px 10px;
    padding-left: 20px;
    width: 150px;
    height: 30px;
    line-height: 25px;
    border-radius: 2px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    &::before {
        transition: all 0.3s ease-in-out;
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-60%);
        width: 3px;
        height: 15px;
        background-color: #ff5c49;
    }
    &:hover {
        color: #ff5c49;
    }
}

.search-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 55px;
    padding: 15px 50px 25px 25px;
    z-index: 1;
    background-color: unset !important;
    input {
        float: unset !important;
    }
}

.scroll-wrapper {
    width: 100%;
    height: calc(100% - 55px);
    overflow-x: hidden;
    margin-top: 50px;
    overflow-y: auto;
    transform: translateZ(0);
}
