.full-screen {
    position: fixed;
    padding-top: 30px;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
}

.play-full-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    -webkit-app-region: drag;
    & > span {
        &:nth-of-type(1) {
            user-select: none;
            cursor: pointer;
            display: inline-block;
            height: 100%;
            padding: 0 14px;
            -webkit-app-region: no-drag;
        }
        &:nth-of-type(3) {
            -webkit-app-region: no-drag;
            & > span {
                padding: 0 5px;
                cursor: pointer;
                transition: all 0.5s ease-in-out;
                &:nth-of-type(3) {
                    margin-right: 5px;
                }
            }
        }
    }
}
