.header-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-input {
    min-width: 300px;
    max-width: 450px;
    margin-left: 100px;
    -webkit-app-region: no-drag;
}

.operation-btn {
    -webkit-app-region: no-drag;
    span {
        padding: 0 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        width: 30px;
        font-size: 15px;
        &:hover {
            color: #f1f1f1;
        }
    }
}

.app-btn {
    -webkit-app-region: no-drag;
    span {
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        width: 30px;
        display: inline-block;
        font-size: 20px;
        margin: 0 5px;
    }
}
