.year-month-style {
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding-left: 30px;
    margin-top: 20px;
}

.day-style {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    padding-left: 30px;
}
