.year-month-style {
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
    margin-top: 20px;
}

.day-style {
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
}

.scroll-wrapper {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateZ(0);
}
