.loading-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px;
    transform: translate(-50%, -50%);
}

.loading-icon {
    animation: icon-gun 1s ease-in-out 0s infinite alternate;
}

@keyframes icon-gun {
    0% {
        transform: translate(-40px) rotate(0deg);
    }
    100% {
        transform: translate(40px) rotate(360deg);
    }
}

.loading-text {
    letter-spacing: 1px;
    animation: text-gun 1s ease-in-out 0s infinite alternate;
}

@keyframes text-gun {
    0% {
        transform: rotate(-15deg) translateY(-10px);
    }
    50% {
        transform: rotate(0deg) translateY(0px);
    }
    100% {
        transform: rotate(15deg) translateY(-10px);
    }
}
